<p>Hello <strong><%= @user.username %></strong>,</p>

<% if @purpose == "registration" %>
  <p>Use this code to verify your email and finish creating your UnknownForums account.</p>
<% else %>
  <p>Use this code to finish logging in to your UnknownForums account.</p>
<% end %>

<div class="code"><%= @code %></div>

<p class="muted">This code expires in <%= @expires_in_minutes %> minutes. If you did not request this, you can ignore this email.</p>
